body{
    background-color: #138A36;
    background-image:url(IMGS/fondo.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.camisetas{
    width: 31.25rem;
    height: auto;
    padding: 1.25rem;
    border: 3px solid #F4FFC3;
    border-radius: 0.6rem;
    margin: 1.8rem auto;
    background-color: #138A36;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    text-align: center;
}

.catalogo{
    
    width: 18.75rem;
    height: auto;
    padding: 1.8rem;
    border:0.1rem solid #F4FFC3;
    border-radius: 1.6rem;
    margin: 1.6rem auto;
    background-color: #138A36;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.6rem;
    color: black;
    text-align: center;
}

.aldosivi{
    box-shadow: black;
    width: 31.25rem;
    height: auto;
    padding: 1.6rem;
    border:0.1rem    solid#F4FFC3 ;
    border-radius: 0.8rem;
    margin: 1.8rem auto;
    background-color: #138A36;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.6rem;
    color: black ;
    text-align: left;   
}

